################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nightfall/Nightfall/obj
/Nightfall/Nightfall/bin/Debug/netcoreapp3.1
/Nightfall/.vs/Nightfall
